#Temporary Files
*~

#IDE Files
.classpath
.project
.springBeans
.settings/
.idea/
myList.iml

#Maven
target/

#Javadocs
doc/

#Item Images Except no-image.png
src/main/webapp/resources/images/items/*
!src/main/webapp/resources/images/items/no-image.png

#Lucene Index Folder
src/main/webapp/resources/images/index/*

