#Temporary Files
*~

#Eclipse
.classpath
.project
.settings/

#Maven
target/

#Javadocs
doc/

# .properties Files
src/main/resources/database/database.properties
src/main/resources/miscellaneous.properties

#Item Images Except no-image.png
src/main/webapp/resources/images/items/*
!src/main/webapp/resources/images/items/no-image.png

#Lucene Index Folder
src/main/webapp/resources/images/index/*

