/*** General Styles ***/
html {
 background-color: #F7F7F7;
}
* {
 font-family: 'Open Sans',sans-serif;
}
body {
 padding-top: 71px; /*navbar + credentials*/
 font-size: 11px;
}
.alert.alert-dismissible {
 margin-top: 15px;
 margin-bottom: 15px;
}
.dropdown-menu>li>a {
 padding: 10px 20px;
}
.navbar-nav {
 font-size: 14px;
}
.navbar-brand {
 font-size: 14px;
}
.navbar-right .form-group {
 width: 30%;
 float: left;
 margin-right: 0.5%;
}
.navbar-right .form-group:first-child {
 width: 44%;
}
.navbar-right .form-group input, .navbar-right .form-group select {
 width: 100%;
}
.navbar-right button {
 width: 25%;
 float: left;
}
/*** Credentials ***/
.credentials {
 position: fixed;
 top: 51px;
 left: 0;
 right: 0;
 z-index: 1029;
 background-color: #337ab7;
 color: white;
 font-size: 12px;
 height: 20px;
 line-height: 20px;
 padding: 0 15px;
 border-bottom: 1px solid #bcbcbc;
}
.credentials a:link, .credentials a:visited, .credentials a:hover, .credentials a:active {
 text-decoration: none;
 font-weight: bold;
 color: white;
}
/*** Wallpaper ***/
.wallpaper {
 background-color: black;
 height: 100px;
}
.wallpaper img {
 display: block;
 height: 100px;
 width: auto;
 float: right;
 margin-right: 7%;
}
/*** Content ***/
.content h3 {
 margin-top: 15px;
 font-weight: 800;
}
.content .list-group {
 margin-bottom: 15px;
}
.content .list-group-item .fa, .content tbody .fa{
 font-size: 18px;
}
.content .list-group-item .fa {
 margin-right: 8px;
}
.content .table>thead>tr>th, .content .table>tbody>tr>td {
 vertical-align: middle;
}
.content td.text-nowrap {
 width: 70px;
}
.content fieldset legend {
 font-size: 16px;
 font-weight: 800;
 padding-top: 20px;
 border-bottom: 3px solid #e5e5e5;
}
.content .item {
 padding: 15px 0;
}
.content .item .info {
 font-size: 10px;
 font-weight: 700;
 padding-top: 5px;
}
.content .item .info .fa {
 font-size: 12px;
 margin-right: 3px;
}
.content .item .info a {
 text-decoration: underline;
}
.content .item .right {
 padding-left: 0;
}
.content .item .musician h4, .content .item .title h4 {
 margin-top: 0;
 margin-bottom: 0;
 font-size: 20px;
 font-weight: 800;
}
.content .item .musician h4 a {
 color: #333;
 text-decoration: none;
}
.content .item .director {
 margin-top: 10px;
}
.content .item .director .activity, .content .item .actor .activity {
 padding-right: 0;
 font-size: 10px;
 font-weight: 800;
 line-height: 20px;
}
.content .item .director a, .content .item .actor a {
 font-weight: 600;
 text-decoration: none;
 line-height: 20px;
}
.content .item .subtitle h5 {
 margin-top: 0;
 font-size: 16px;
 font-weight: 600;
 color: #ADABAB;
}
.content .item .conductor {
 font-size: 16px;
}
.content .item .conductor span {
 white-space: nowrap;
}
.content .item .conductor a {
 font-weight: 800;
 text-decoration: none;
}
.content .item .title {
 font-size: 18px;
 margin-top: 3px;
 margin-bottom: 7px;
 letter-spacing: -0.5px;
}
.content .item .description p {
 font-size: 12px;
 padding-top: 10px;
}
.content span.category, .content span.comment, .content span.description {
 display: inline-block;
 float: left;
 font-size: 10px;
 font-weight: 400;
 color: #fff;
 margin: 5px 5px 5px 0;
 padding: 3px 8px;
}
.content span.category {
 background-color: #d9534f;
}
.content span.comment {
 background-color: #337ab7;
}
.content span.description {
 background-color: #f0ad4e;
}
.content span.description .fa {
 margin-right: 5px;
}
.content .rating {
 display: inline-block;
 width: 120px;
 height: 20px;
 float: left;
 background-image: url(images/styles/rating.png);
 background-repeat: no-repeat;
 margin-top: 5px;
}
.content .rating1 {
 background-position: 0 -108px;
}
.content .rating2 {
 background-position: 0 -81px;
}
.content .rating3 {
 background-position: 0 -55px;
}
.content .rating4 {
 background-position: 0 -28px;
}
.content .rating5 {
 background-position: 0 0;
}
.content img.language {
 height: 12px;
 width: auto;
 position: relative;
 bottom: 2px;
 right: 2px;
}
.content form .btn.btn-lg {
 width: 180px; /*A Common Width For All*/
 margin-top: 10px;
}
.content form .btn.btn-lg[type='submit'], .content form .btn.btn-lg.btn-danger {
 width: 100%;
 margin-top: 10px;
}
.content .errors { /*Form Errors*/
 color: #d9534f;
 font-size: 12px;
 margin-bottom: 10px;
}
.content .item-comments label, .content .item-artists label {
 display: block;
}
.content .item-comments .form-control {
 display: inline-block;
 float: left;
 width: 85.5%;
 margin-right: 0.5%;
}
.content .item-artists .form-control {
 display: inline-block;
 float: left;
 width: 42.5%;
 margin-right: 0.5%;
}
.content .item-comments .btn.btn-danger, .content .item-artists .btn.btn-danger {
 float: left;
 width: 14%;
}
/*** Pagination ***/
.more {
 margin-top: 15px;
 color: #8c8c8c;
 font-weight: 600;
}
.more a {
 font-weight: 800;
 text-decoration: none;
}
.more .divider, .more .fa {
 font-size: 18px;
 font-weight: 300;
}
.more .fa {
 margin-left: 4px;
 margin-right: 4px;
}
/*** Sidebar ***/
.sidebar {
 padding-top: 8px;
}
.sidebar .btn {
 width: 100%;
 margin-bottom: 8px;
}
/*** Footer ***/
.footer {
 background-color: #F7F7F7;
 padding-top: 15px;
 padding-bottom: 15px;
 margin-top: 50px;
 border-top: 1px solid #e5e5e5;
}
.footer .addthis_horizontal_follow_toolbox {
 display: inline-block;
 margin: 0 auto;
}
.footer .addthis_horizontal_follow_toolbox p {
 font-size: 25px;
 font-weight: 800;
 margin-bottom: 0;
}
.footer p.copyright {
 font-size: 11px;
 margin-top: 15px;
 font-weight: 300;
}
/*** Autocomplete ***/
.ui-autocomplete {
 position: absolute;
 top: 100%;
 left: 0;
 z-index: 1000;
 float: left;
 display: none;
 min-width: 160px;
 padding: 4px 0;
 margin: 0 0 10px 25px;
 list-style: none;
 background-color: #ffffff;
 border-color: #ccc;
 border-color: rgba(0, 0, 0, 0.2);
 border-style: solid;
 border-width: 1px;
 -webkit-border-radius: 5px;
 -moz-border-radius: 5px;
 border-radius: 5px;
 -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
 -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
 box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
 -webkit-background-clip: padding-box;
 -moz-background-clip: padding;
 background-clip: padding-box;
}
.ui-autocomplete li {
 font-size: 18px;
 line-height: 1.3333333;
 padding: 8px 16px;
}
.ui-autocomplete li:nth-child(even) {
 background-color: #F9F9F9;
}
/*
* Media Queries
*/
@media (min-width: 768px) { /*sm*/
 body, .navbar-brand {
  font-size: 14px;
 }
 .content .item .info {
  font-size: 12px;
  font-weight: 800;
 }
 .content .item .info .fa {
  font-size: 14px;
 }
 .content img.language {
  height: 14px;
 }
 .content span.category, .content span.comment, .content span.description {
  font-size: 12px;
  font-weight: 600;
  margin: 5px 5px 0 0;
  padding: 5px 18px;
 }
 .content span.rating {
  width: 120px;
  height: 27px;
 }
 .content span.rating1 {
  background-position: 0 -106px;
 }
 .content span.rating2 {
  background-position: 0 -79px;
 }
 .content span.rating3 {
  background-position: 0 -53px;
 }
 .content span.rating4 {
  background-position: 0 -26px;
 }
 .content span.rating5 {
  background-position: 0 2px;
 }
 /*** Sidebar ***/
 .sidebar {
  padding-top: 15px;
 }
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { /*md*/

}
@media (min-width: 1200px) { /*lg*/

}