#Database Configuration
dataSource.driverClassName=com.mysql.jdbc.Driver
dataSource.url=jdbc:mysql://localhost:3306/database-name?useUnicode=true&characterEncoding=utf8
dataSource.username=username
dataSource.password=password

#File Paths et al.
filepath.lucene=/path/for/a/folder/that/will/keeps/lucene/index
filepath.images=/path/for/a/folder/that/will/keep/images
filepath.logs=/path/for/a/folder/that/will/keep/logs