<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <contextName>myList</contextName>
    <property resource="miscellaneous.properties" />
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder>
            <pattern>[%d{ISO8601}] [%contextName] [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${filepath.logs}/myList.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${filepath.logs}/myList.%d{yyyy-MM-dd}.zip</fileNamePattern>
            <maxHistory>7</maxHistory>
            <cleanHistoryOnStart>false</cleanHistoryOnStart>
        </rollingPolicy>
        <encoder>
            <pattern>[%d{ISO8601}] [%contextName] [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <root level="warn">
        <appender-ref ref="FILE" />
    </root>
</configuration>